body{
    background-color: #252D40;
    color: #F2F2F4;
    padding: 0;
    margin: 0
}


@media screen and (min-width: 480px) {
  #main nav{
    padding: 3rem 2rem
  }
  #projects {
    padding: 0 0
  }
}
@media screen and (min-width: 768px) {
  #main {
    padding: 0 8rem
  }
}
@media screen and (min-width: 1024px) {
  #main {
    padding: 0 8rem
  }
}
@media screen and (min-width: 1200px) {
  #main {
    padding: 0 8rem
  }
}

nav{
    padding: 3rem 0
}

li{
    color: #525661
}
ul{
    line-height: 2rem
}
h1{
    font-family: 'Poiret One', cursive;
}

h2{
     font-family: 'Poiret One', cursive;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
#logo{
    color: #F2F2F4
}
.white{
    color: #F2F2F4
}

.background-blue{
   background-color: #252D40;
}
.gray{
    color: #525661
}

.background-purple{
    background-color: #7A7AF4
}

.purple{
   color: #7A7AF4
}