body{
     background-color: #edf2f7;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin:0
}

#price-sheet{
    height: auto;
    display: block;
    position: absolute;
    width: calc(100% - 5%);
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 6rem;
}

@media screen and (min-width: 720px){
    #price-sheet{
        display: flex;
        flex: flex-wrap;
    }
    .column{
        margin-top: 0
    }
}

li{
    color: #a0aec0
}

.column{
    background-color: white;
    margin: 0 .25rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.column > b{
    font-size: 3rem;
    color: #2d3748
}

h1{
    text-align: center;
    margin-top: 6rem
}
.primary{
    background-color: #667eea;
    width: 7rem;
    color:white;
    padding: .5rem .5rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    margin-top: 1rem
}

.secondary{
    background-color: #e2e8f0;
    color: #1a202c;
     width: 7rem;
    padding: .5rem .5rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    margin-top: 1rem
}

ul{
    padding: 0;
    margin-top: 2rem;
    align-items: center;
    text-align: left;
    line-height: 1.5rem
}
li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 1rem
}
svg{
    color: #667eea;
    margin-right: 1rem
}

button{
    font-weight: bold
}