#1{
  color:red !important;
}

#2{
  color:blue !important;
  //text-align: left !important;
}

.hotitem{
  //border: 1px solid #b90000;
  border-radius: 16px;
  background-color: #eb343b;
  padding: 7px;
  color:white !important;
  margin: 3px;
}

.jumbotron{
  border-radius: 0;
}