body{
    background-color: #edf2f7;
    font-family: 'Roboto', sans-serif;
}

#profile-image{
    width:4rem;
    height: 4rem;
    border: 2px solid #e2e8f0;
    border-radius: 6rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


#logo{
    width:52px;
    height: 52px;
}

#task-button{
    color: #5a67d8;
    background-color: transparent;
    border: none;
    outline:none;
    padding: .5rem 1rem;
    border: 2px solid #5a67d8; 
    border-radius: .25rem;
    margin-left: 1rem;
    font-weight: 700
}
#task-button:hover{
    background-color: #edf2f7
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center
}
#sidebar{
    height: 100%;
    width: 16rem;
    overflow-y: scroll;
-webkit-box-shadow: 3px 0px 5px 0px rgba(226,232,240,1);
-moz-box-shadow: 3px 0px 5px 0px rgba(226,232,240,1);
box-shadow: 3px 0px 5px 0px rgba(226,232,240,1);
z-index: 1
}

#calendar{
    align-items: center;
}

#logo-area{
    width: 100%;
    height: auto;
    align-items: center;
    border-bottom: 1.5px solid #e2e8f0;
    font-size: 1.3rem;
    display:flex;
    justify-content: center
}
ul{
    line-height: 3rem;
    font-size: .85rem
}

#icon-bell{
    padding: 1rem;
    border: 1px solid indigo;
    border-radius: 6rem
}

.kanban{
    display:block;
}

@media screen and (min-width: 720px){
    .kanban{
        display:flex;
        flex:flex-wrap
    }
}

a{
    text-decoration: none;
    color: inherit
}
a:hover{
    color: #2d3748;
    text-decoration: underline
}
.tab{
    border-bottom: 2px solid #e2e8f0;
    padding: 1rem;
}

.kanban-cards{
    width: 100%;
    padding: .25rem;
    overflow-y: hidden;
    background-color:
}

.tasks-container{
    border: 2px solid #e2e8f0;
    border-radius: .25rem;
    margin-top: 1rem;
}

.stats-container{
    margin-top: 1rem;
    display: block;
    
    justify-content: space-between
}

.stat-data{
    font-size: 2rem;
    color: #4a5568;
}

.stats-container > div{
    border: 2px solid #e2e8f0;
    border-radius: .25rem;
    padding: 1rem 1rem;
    width: calc(100% -20%);
    margin-top: 1rem
}
@media screen and (min-width: 720px){
    .stats-container{
        display:flex;
        flex:wrap
    }
    .stats-container > div{
        width: 20%
    }
}


h3{
    color: #718096;
    font-size: 1rem;
    font-weight: 400
}

.card-container{
    background-color: #edf2f7;
    width: auto;
    height: 380px;
    overflow-y: scroll;
    border-radius: .25rem;
    padding: .5rem;
    color: #4a5568;
}

.card{
    background-color: white;
    margin-top: .75rem;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    border: 1.2px solid #e2e8f0;
    border-radius: .25rem;
    padding: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.spin{
    transform: rotate(-5deg)
}

#modal{
    display:none;
    position: fixed;
    background-color: white;
    width: 30%;
    opacity: .99;
    height: 400px;
    left: 50%; /*centering*/
    transform: translateX(-50%); /*centering*/
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 5rem;
    z-index: 3;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
#main{
    background-color: #f7fafc;
    width: 100%;
    padding: 1.5rem;
    overflow-y: scroll;
}

.container{
    background-color: white;
    display: flex;
    width: calc(100% - 20%);
    height: 900px;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: .25rem
}


